@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.slider-container {
    position: relative;
    width: 750px;
    margin: auto;
    overflow: hidden;
}

.slider-container span {
    position: absolute;
    top: 50%;
    z-index: 1;
    color: beige;
    font-size: 3rem;
    cursor: pointer;
}

#nextBtn {
    right: 5%;
}

#prevBtn {
    left: 5%;
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
}

.photo-transition {
    transition: transform 0.4s ease-in-out;
}

